@model MVC_Project__advance_web_.ViewModels.EmailViewModel;
@{
    ViewData["Title"] = "Forgot Password";
    Layout = "_LoginLayout";
}

<div class="container-box-Login">

    <div class="img-top">
        <div class="Message">
            <h2>RESET YOUR<br>PASSWORD</h2>
            <p class="text">Enter your email to reset your password</p>
        </div>
    </div>

    <div class="elements register-elements">

        <h2 class="title">FORGOT PASSWORD</h2>
        <p class="welcome-text">We’ll help you recover access</p>

        <div asp-validation-summary="ModelOnly"></div>
        
        @* POST METHOD TO CONTROLLER *@
        <form asp-action="ForgotPassword" asp-controller="Account" method="post">

            @* Email Input *@
            <div class="input-with-icon">
                <i class="bi bi-person-fill text-white"></i>
                <input class="form-control text-white" asp-for="Email" placeholder="Enter your email" />
            </div>
            <span asp-validation-for="Email" class="text-danger"></span>

            <a asp-action="Login" asp-controller="Account">
                Back to Login
            </a>

            <button type="submit" class="btn btn-primary mt-3">
                Send Reset Link
            </button>
        </form>

    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
