@model MVC_Project__advance_web_.ViewModels.LoginViewModel;
@{
    Layout = "_LoginLayout";
}
<div class="container-box-Login">
    <div class="img-top">
        <div class="Message">
            <h2>WELCOME TO THE<br>WEBSITE</h2>
            <p class="text">Experience the products<br> with ease and legitimate</p>
        </div>
    </div>

    <div class="elements">
        <h2 class="title">USER LOGIN</h2>
        <p class="welcome-text">Welcome Back</p>

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        @* post LOGIN method *@
        <form asp-action="Login" asp-controller="Account" method="post">

            @* Email *@
            <div class="input-with-icon">
                <i class="bi bi-person-fill text-white"></i>
                <input class="form-control text-white" asp-for="Email" placeholder="Email" />
            </div>
            <span asp-validation-for="Email" class="text-danger"></span>

                @* Password *@
            <div class="input-with-icon">
                <i class="bi bi-lock-fill text-white"></i>
                <input asp-for="Password" class="form-control text-white" placeholder="Password" />
            </div>
            <span asp-validation-for="Password" class="text-danger"></span>

            <a class="forgot" asp-action="ForgotPassword" asp-controller="Account">Forgot Password?</a>
            <a asp-action="Register" asp-controller="Account">Register here</a>
            <button type="submit" class="btn btn-primary mt-3">Login</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
